body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3e6e6;
  }
  
  .login-container {
    background-color: #32b9a7;
    padding: 70px;
    border-radius: 10px;
    text-align: center;
  }
  
  h1 {
    margin-top: 0;
  }
  
  input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 2px;
  }
  
  #login-mensagem {
    font-weight: bold;
    margin-top: 10px;
    display: none;
  }
  